<!-- HEADER -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../staticFiles/style.css">
    <title>MEDI.PREDICT</title>
</head>

<body>
    <div class="banner-text">
        <h1>MEDI.PREDICT</h1>
        <button type="submit" onclick="location.href='/'">Log Out</button>
    </div>

    <!-- NAVIGATION BAR -->
    <nav class="navbar">
        <div class="nav-link">
            <a href="index.html">PREDICTION FORM</a>
        </div>
        <div class="nav-link">
            <a href="history.html">PREDICTION HISTORY</a>
        </div>
        <div class="nav-link">
            <a href="info.html">HOW TO</a>
        </div>
        <div class="nav-link">
            <a href="help.html">ABOUT US</a>
        </div>
    </nav>

    {% block content %} {% endblock %}
</body>

</html>