{% extends "base.html" %} {% block content %}
<!-- CONTACT FORM -->
<div class="help-txt">
    <p>
        For more information on this tool, or for technical support, please fill out the contact form below:<br>
    </p>
</div>
<div class="help-container">
    <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your First Name">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your Last Name">

        <label for="country">Country</label>
        <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>

        <label for="subject">Concern</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}