  {% extends "base.html" %} {% block content %}
  <!-- INTRO AND FORM WITH FIELDS -->
<body onload="loadText()">
  <div class="home-txt">
    <br>
    <h1>Prediction Form</h1><br>
      <div class="scenario-buttons">
        <button type="submit" id="testform1" onclick="setScenario(text1)">Scenario 1</button>
        <button type="submit" id="testform2" onclick="setScenario(text2)">Scenario 2</button>
        <button type="submit" id="testform3" onclick="setScenario(text3)">Scenario 3</button>
        <button type="submit" id="testform4" onclick="setScenario(text4)">Scenario 4</button>
        <button type="submit" id="testform5" onclick="setScenario(text5)">Scenario 5</button>
      </div>
      <br><br><br>
  </div>
  <div class="model-form">
      <div class="row">
          <form action="#" id="prediction-form" method="POST">
              <div class="column">
                  <label for="gdp">GDP of Year (in trillions USD):</label><br />
                  <input type="field" id="gdp-year" name="gdp-year" value="1.53" /><br /><br />
                  <label for="inflation">Inflation Rate:</label><br />
                  <input type="field" id="inflation-rate" name="inflation-rate" value="1.43" /><br /><br />

                  <label for="pandemic">Pandemic:</label><br />
                  <!-- put check box y/n -->
                  <input type="radio" id="pandemic-yes" name="pandemic-ans" value="Yes" checked/>
                  <label for="pandemic-yes">Yes</label><br />
                  <input type="radio" id="pandemic-no" name="pandemic-ans" value="No" />
                  <label for="pandemic-no">No</label><br /><br />

                  <label for="month">Month<span>*</span>:</label><br />
                  <!-- dropdown option -->
                  <select id="month" name="month">
                      <option value="jan">January</option>
                      <option value="feb">February</option>
                      <option value="mar">March</option>
                      <option value="apr">April</option>
                      <option value="may">May</option>
                      <option value="jun">June</option>
                      <option value="jul">July</option>
                      <option value="aug">August</option>
                      <option value="sep">September</option>
                      <option value="oct">October</option>
                      <option value="nov">November</option>
                      <option value="dec">December</option>
                  </select>
                  <br /><br />

                  <label for="age">Average Age of Province:</label><br />
                  <input type="field" id="average-age" name="average-age" value="34" /><br /><br />
              </div>

              <div class="column">
                  <label for="day-of-wk">Day of the Week:</label><br />
                  <!-- dropdown option -->
                  <select id="day-of-wk" name="day-of-wk">
                      <option value="mon">Monday</option>
                      <option value="tue">Tuesday</option>
                      <option value="wed">Wednesday</option>
                      <option value="thu">Thursday</option>
                      <option value="fri">Friday</option>
                      <option value="sat">Saturday</option>
                      <option value="sun">Sunday</option>
                  </select>
                  <br /><br />

                  <label for="holiday">Holiday:</label><br />
                  <!-- dropdown option -->
                  <select id="holiday" name="holiday">
                      <option value="none">None</option>
                      <option value="christmas">Christmas</option>
                      <option value="new-years-eve">New Year's Eve</option>
                      <option value="new-years">New Year's Day</option>
                      <option value="blk-friday">Black Friday</option>
                      <option value="labor-day">Labour Day</option>
                      <option value="easter">Easter Sunday</option>
                      <option value="halloween">Halloween</option>
                      <option value="can-day">Canada Day</option>
                      <option value="thanksgiving">Thanksgiving</option>
                      <option value="victoria-day">Victoria Day</option>
                      <option value="val-day">Valentine's Day</option>
                      <option value="super-bowl">Super Bowl</option>
                      <option value="st-pat-day">St. Patrick's Day</option>
                  </select>
                  <br /><br />

                  <label for="time">Time of Day:</label><br />
                  <!-- dropdown option -->
                  <select id="time" name="time">
                      <option value="early-morn">Early Morning</option>
                      <option value="early-aft">Early Afternoon</option>
                      <option value="early-eve">Early Evening</option>
                      <option value="late-morn">Late Morning</option>
                      <option value="late-aft">Late Afternoon</option>
                      <option value="late-eve">Late Evening</option>
                      <option value="past-midngt">Past Midnight</option>
                  </select>
                  <br /><br />
                  <label for="weather">Weather:</label><br />
                  <input type="field" id="weather" name="weather" value="Windy"/>
                  <br /><br />

                  <label for="facilities">Healthcare Facilities Within 50km Radius:</label><br />
                  <input type="field" id="num-facilities" name="num-facilities" value="3" /><br /><br />

              </div>

              <div class="column">
                  <label for="beds-avail">Beds Available (Per 1000 People)<span>*</span>:</label>
                  <br />
                  <input type="field" id="beds-avail" name="beds-avail" value="2.6"/>
                  <br /><br />
                  <label for="pop-density">Population Density (Per Square Kilometer):</label>
                  <br />
                  <input type="field" id="pop-density" name="pop-density" value="2004.4"/>
                  <br /><br />

                  <label for="injury-type">Type of Injury<span>*</span>:</label><br />

                  <input type="checkbox" id="injury1" name="injury1" value="seizure"/>
                  <label for="injury1"> Active Seizure</label><br />

                  <input type="checkbox" id="injury2" name="injury2" value="heart-atk" />
                  <label for="injury2"> Heart Attack</label><br />

                  <input type="checkbox" id="injury3" name="injury3" value="minor-cut" />
                  <label for="injury3"> Minor Cuts</label><br />

                  <input type="checkbox" id="injury4" name="injury4" value="minor-injury" />
                  <label for="injury4"> Minor Injury</label><br />

                  <input type="checkbox" id="injury5" name="injury5" value="overdose" />
                  <label for="injury5"> Drug Overdose</label><br />

                  <input type="checkbox" id="injury6" name="injury6" value="cardiac-arrest"/>
                  <label for="injury6"> Cardiac Arrest</label><br />

                  <input type="checkbox" id="injury7" name="injury7" value="dislocation" />
                  <label for="injury7"> Dislocation</label><br />

                  <input type="checkbox" id="injury8" name="injury8" value="flu" />
                  <label for="injury8"> Flu</label><br />

                  <input type="checkbox" id="injury9" name="injury9" value="fracture" />
                  <label for="injury9"> Limb Fracture</label><br />

                  <input type="checkbox" id="injury10" name="injury10" value="mild-breathing" />
                  <label for="injury10"> Mild Breathing Difficulties</label><br />

                  <input type="checkbox" id="injury11" name="injury11" value="severe-pain" />
                  <label for="injury11"> Severe Pain</label><br />

                  <input type="checkbox" id="injury12" name="injury12" value="sprain" />
                  <label for="injury12"> Sprain</label><br />

                  <input type="checkbox" id="injury13" name="injury13" value="stroke" />
                  <label for="injury13"> Stroke</label><br /><br />

                  <label for="injury-zone">Injury Severity Zone<span>*</span>:</label><br />
                  <!-- dropdown option -->
                  <select id="injury-zone" name="injury-zone">
                      <option value="green">Green</option>
                      <option value="yellow">Yellow</option>
                      <option value="red">Red</option>
                  </select>
              </div>
              <input type="submit" value="Generate"/>
          </form>
          <br>
          <button type="submit" id="testbut" onclick="document.getElementById('id02').style.display='block'">See Results</button>
          
      </div>
  </div>

  <div id="id02" class="prediction-modal">
    <form class="modal-content-pred animate" action="" method="">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close">&times;</span>
      </div>
      <div class="prediction-container">
        <h1>Results</h1>
        <p>Predicted Wait Time:</p>
        <h2>
          {{pred}} mins
        </h2>
        <p>Based on your inputs of:</p>
        <div class="json-temp">
          <p>
            {{test}}
          </p>
        </div>
        <br/>
        <input type="submit" value="Save Results" onclick="autosave()"/>
      </div>
    </form>
  </div>

  <script type="text/javascript" src="../staticFiles/test.js"></script>
</body>
  {% endblock %}