{% extends "base.html" %} {% block content %}
<!-- INTRO AND FORM WITH FIELDS -->
<div class="info-txt">
    <p>
        This application was made for internal hospital use only. The goal of our predictive model is to help hospital emergency departments allocate resources to ensure prepardness when the time is right.
        <br> Note: Please fill out all form fields for the most accurate predictions <br>
        <br>
        <b>How to Use:</b><br>
        <ol>
            <li>
                Please fill out each field according to the conditions you would like predictions for.
            </li>
            <li>
                Press the 'Generate' button at the end of the form to generate a prediction for your hospitals emergency prepardness.
            </li>
            <li>
                A pop-up should appear containing the information regarding your prediction.
            </li>
            <li>
                If you would like to save your prediction, please press the 'Save' button on the pop-up. You can find the saved prediction in the 'History' tab.
            </li>
        </ol>
        <br> If you leave fields blank, these are the <b>default values</b> that will be used:
        <ol>
            <li>
                Weather: Sunny
            </li>
            <li>
                Pandemic: No
            </li>
            <li>
                Special Holiday: None
            </li>
            <li>
                Time of Day: Late Afternoon
            </li>
        </ol>
    </p>
</div>

{% endblock %}